/* тег спан #2196F3; */
/* главный заголовок #FFFFFF; */
/* эфект наведения #2196F3 */
/* заголовки #212121 */
/* текст в заголовках #757575 */
/* футер background: #2F303A; */
/* наша команда background: #F5F4FA; */
/* героик background: #2F303A; */
/* контакты в футоре rgba(255, 255, 255, 0.6); */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --backgraund-button-and-team-section-color: #f5f4fa;
  --backgraund-hero-and-foter-color: #2f303a;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1, 14;
}

.list {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
}

span {
  color: var(--accent-color);
}

/* site-nav */
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* contact-link */
.contact-link .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.contact-link .link:hover,
.contact-link .link:focus {
  color: var(--accent-color);
}
/* hero */
.button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  font-family: inherit;
}
.hero {
  background-color: var(--backgraund-hero-and-foter-color);
}
.hero-title {
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.benefits-list .title {
  font-weight: 700;
  text-transform: uppercase;
}
.benefits-list .text {
  font-size: 14px;
  line-height: 1, 2;
}
.team-list .title,
.benefits-list .title {
  color: var(--title-text-color);
}
.team-section {
  background-color: var(--backgraund-button-and-team-section-color);
}
.work,
.team {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 16;
  text-align: center;
}
.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 2;
  /* text-align: center; */
}
.team-list .text {
  font-size: 16px;
  line-height: 1, 2;
  /* text-align: center; */
}
/* addres */
.addres {
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1, 71;
}
.contact-link .link-footer {
  color: var(--contacts-footer-color);
  text-decoration: none;
}
.contact-link .link-footer:hover,
.contact-link .link-footer:focus {
  color: var(--accent-color);
}
.footer {
  background-color: var(--backgraund-hero-and-foter-color);
}
.logo-footer {
  color: var(--primary-bg-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 2;
}

/* Portfolio */
.button-list .button {
  background-color: var(--backgraund-button-and-team-section-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 62;
  cursor: pointer;
}
.button-list .button:hover,
.button-list .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}
.gallery-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-list .text {
  font-size: 16px;
  line-height: 1, 9;
}
